<section class="container mx-auto">
  <h1 class="font-bold text-4xl grid content-center">Balance general</h1>
  <!--Agregar la sección de botones de ingresos y gastos-->
  <section></section>
  <!--Agregar la sección del gráfico, mes y estado de salud financiera-->
  <section></section>
  <!--Agregar la sección totales de ingresos y gastos-->
  <%= select_month(Date.today) %>
  <section>
    <p class="font-bold">Total ingresos</p>
    <p><%= number_to_currency(@total_incomes, :separator => ",", :delimiter => ".", precision: 0) %></p>
    <p class="font-bold">Total Gastos </p>
    <p><%= number_to_currency(@total_expenses, :separator => ",", :delimiter => ".", precision: 0)  %></p>
  </section>
  <!--Agregar la sección de lista de ingresos y gastos organizados por fecha, considerar usar un partial -->
  <section></section>
  
</section>
